.board {
	background-color: #005a40;
}

.title {
	margin-bottom: 10px;
	margin-top: 5px;
	text-align: center;
	font-size: large;
	color: white;
	text-shadow: 0.1em .1em 1px lightgrey;
}

.timer {
	color: white;
}

.card {
	border-width: 5px;
	border-style: inset;
	border-color: darkgray;
	box-shadow: 5px -4px 4px 2px black;
	width: 220px;
	background-color: white;
	position: absolute;
	z-index: 0;
}

.card-dragged {
	border-color: red;
	cursor: move;	
}

.cardImage {
	width: 70%;
	margin-top: 10px;
	margin-left: 35px;
}

.cardText {
	font-size:30px;
	text-align: center;
	padding: 5px;
}

.cardSoundIcon {
}

.cardSound {
	width: 50px;
}


.box {
	margin-top: 10px;
	margin-left: 5px;
	border-width: 2px;
	border-style: dashed;
	border-color: white;
	width: 1004px;
	height: 300px;
	z-index: -1;
}

.box-dragging {
	cursor: move;
}

.box-win {
	background-color: green;
}

.box-lost {
	background-color: red;
}

.play {
	margin-left: 400px;	
}

.validate {
	margin-left: 540px;
}

.restart {
	margin-left: 860px;
}

.home {
	margin-left: 10px;
}

.shadowbutton {
	position: absolute;
	z-index: 2;
}

.shadowbutton-shadow {
	position: absolute;
	margin-left: 5px;
	margin-top: 3px;
	z-index: 1;
}
